body {
    background-color: #F5F5F5;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
}

.mytab {
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
    font-weight: bolder;
    overflow: auto;
}

.vol-button {
    width: 100%;
    text-align: center
}

.vol-button button {
    margin: 20px;
    width: 100px;
    border-radius: 10px;
}

.vol-button a {
    color: white;

}

.vol-button a:hover {
    color: white;
    text-decoration: none;
}

.soc-icon {
    font-size: 25px;
}


.back{
    background-color:green;
    color: white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none;
    float: right;
}
.back:hover{
    background-color: rgb(4, 82, 4);;
    color:white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none;
    float: right;
}


.home{
    background-color:green;
    color: white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none;
    float: left;

    
}

.home:hover{
    background-color: rgb(4, 82, 4);;
    color:white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none;
    float: left;
}

